<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            名称:<input type="text" name="booktitile" placeholder="请输入书籍名称">
            <br>
            价格:<input type="text" name="bookprice" placeholder="请输入书籍价格">
            <br>
            出版日期:<input type="date" name="bookpub_date" placeholder="请输入书籍出版日期">
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>