<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加英雄</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            英雄名字:<input type="text" name="heroname" placeholder="请输入角色名">
            <br>
            英雄技能:<input type="text" name="herocontent" placeholder="请输入角色绝招">
            <br>
            性别:<input type="radio" name="sex" value="female" checked> 女 <input type="radio" name="sex" value="male">男
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>