<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑书籍</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            名称:<input type="text" name="booktitle" value={{book.title}}>
            <br>
            价格:<input type="text" name="bookprice" value={{book.price}}>
            <br>
            出版日期:<input type="date" name="bookpub_date" value={{book.pub_date}}>
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>